<form class="container form text-center" role="form">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input placeholder="Nazwa kursu" name="name" [(ngModel)]="newCourse.name" type="text" class="validate"
               #name="ngModel" required>
        <div class="error" *ngIf="name.touched && name.errors?.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <input type="range" name="ects" class="custom-range" [(ngModel)]="newCourse.ects" min="0" max="10" step="1">
        ECTS: {{newCourse.ects}}
      </div>
      <div class="form-group">
        <input type="range" name="semester" class="custom-range" [(ngModel)]="newCourse.semester" min="1" max="10" step="1">
        Semester: {{newCourse.semester}}
      </div>
      <div class="form-group">
        <input placeholder="Max Attendants" name="maxStudents" [(ngModel)]="newCourse.maxAttendants" type="number"
               class="validate" #maxStudents="ngModel"  pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" required>
        <div class="error" *ngIf="maxStudents.touched && maxStudents.errors?.required">
          Max Students is required.
        </div>
        <div class="error" *ngIf="maxStudents.errors?.pattern && maxStudents.touched">
          Only numbers are permitted
        </div>
      </div>
      <div class="form-group">
        <input placeholder="Course type" name="form" [(ngModel)]="newCourse.courseType" type="text" class="validate"
               #form="ngModel" required>
        <div class="error" *ngIf="form.touched && form.errors?.required">
          Form is required.
        </div>
      </div>
      <div class="form-group">
        <textarea placeholder="Course details" ref-textarea [(ngModel)]="newCourse.description"  name="desription" rows="4"
                  cols="20" required #description = "ngModel"></textarea>
        <div class="error" *ngIf="description.touched && description.errors?.required">
          Description required.
        </div>
      </div>
      <div class="form-group">
        <input placeholder="Image link" name="image" [(ngModel)]="newCourse.img" type="text" class="validate"
               #courseImage="ngModel"  pattern="https://.+\.[jpg|gif|png].*" required>
        <div class="error" *ngIf="courseImage.touched && courseImage.errors?.required">
          Course Image url is required.
        </div>
        <div class="error" *ngIf="courseImage.errors?.pattern && courseImage.touched">
          Invalid image url.
        </div>
      </div>
    </div>
  </div>

  <div class="submit">
    <hr>
    <button (click)="addCourse()">Save</button>
  </div>


</form>
